{%extends 'base.html'%}
{% block content %}


<!-- stories  -->

<div class="container"style="margin-top: 10px;" >
    <div class="container">
      <div class="right-side" style="width: 50%;">
          <div class="row">
              <div class="col">
                <div class="col">
                    <div class="profiles" id="slider-wrap" style="border: 0.2px solid grey; background-color: white; border-radius: 5px; height: 3.5cm; padding-top: 20px; padding-left: 20px; overflow: hidden">
                        <div class="row" id="slider" style=" will-change: transform;">
                          {% for post in posts %}

                            <div class="col" id="slider-item" style=" overflow: hidden;">
                                <img src="{{post.post_image.url}}"  id="slider-image" alt="charity"  style="width: 1.5cm; height: 1.5cm; border-radius: 6cm; ">
                            </div>

                            {% endfor %}
                        </div>
                        <div class="slide-control" style="transform: translateY(-50%); display: flex; color: white;" >
                          <button id="prev-btn" style="cursor: pointer; background: transparent; outline: none;" >
                            <i class="fa-solid fa-circle-chevron-left"></i>
                          </button>
                          <button id="next-btn" style="cursor: pointer; background: transparent; outline: none; " >
                            <i class="fa-solid fa-circle-chevron-right"></i>
                          </button>
                        </div>
                    </div>

                    <!-- posts -->

                    <div class="stories" style="border: 0.2px solid grey; background-color: white; border-radius: 5px; height: 25.5cm; margin-top: 1cm; padding: 2px;">
                       <div class="row">

                           <div class="col">
                                 {% for post in posts %}

                            <div class="card" style="width: 31.65rem;">
                                <div class="card-body">
                                    <p class="card-text">{{post_item.user.username}}</p>
                                </div>
                                <img class="card-img-top" src="{{ post.post_image.url }}" alt="Card image cap">
                                <div class="card-body">

                                  <p class="card-text">{{tags}}</p>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{post_item.post_text}}</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                  </ul>
                              </div>
                                {% endfor %}

                           </div>

                       </div>

                    </div>
            </div>

            <div class="left-side" style="margin-left: 100%; margin-top: -205%;">
                <div class="row">
                    <div class="col">
                        <div class="col">
                            <div class="profile-switch">
                                <div class="row">
                                    <div class="col">
                                        <img src="/static/pic.jpeg" alt=""
                                            style="width: 1.5cm; height: 1.5cm; border-radius: 6cm; ">
                                    </div>
                                    <div class="col" style="margin-left: 250%; margin-top: -150%;">
                                        <p>mutembei.charity</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="margin-left: 990%; margin-top: -150%;">
                        <a href="#">switch</a>
                    </div>
                </div>
                <div class="switch" style="margin: 1.5cm;">
                    <p>Suggestions</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col">
                            <div class="profile-switch">
                                <div class="row">
                                    <div class="col">
                                        <img src="/static/pic.jpeg" alt=""
                                            style="width: 1.5cm; height: 1.5cm; border-radius: 6cm; ">
                                    </div>
                                    <div class="col" style="margin-left: 250%; margin-top: -150%;">
                                        <p>mutembei.charity</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="margin-left: 990%; margin-top: -150%;">
                        <a href="#">Follow</a>
                    </div>
                </div>
            </div>
            </div>
            </div>
      </div>
    </div>
</div>
<script>
  let sliderwrap = document.querySelector('#slider-wrap');
  let slider = document.querySelector('#slider');
  


  let disableScroll = false;
  let items = [...document.querySelectorAll('#slider-item')];
  let images = [...document.querySelectorAll('#slider-image')];

  images.forEach((image,idx )=>{
    image.style.backgroundImage = '{{post.post_image.url}}${idx+1}'
  })


</script>
{% endblock %}
