{%extends 'base.html'%}
{% load static%}
{% block content %}


<!-- stories  -->

<div class="container"style="margin-top: 10px;" >
    <div class="container">
      <div class="right-side" style="width: 50%;">
          <div class="row">
              <div class="col">
                <div class="profiles" style="border: 0.2px solid grey; background-color: white; border-radius: 5px; height: 3.5cm; padding-top: 20px; padding-left: 20px;">
                    <div class="row" >
                        <div class="col">
                            <img src="{% static 'pic.jpeg' %}" alt=""  style="width: 2cm; height: 2cm; border-radius: 6cm; ">
                            <p>Charity Mutembei</p>
        
                            
        
                        </div>
                    </div>
                </div>
        
                <!-- posts --> 
                <div class="stories" style="border: 0.2px solid grey; background-color: white; border-radius: 5px; height: 23.2cm; margin-top: 1cm;">
                   <div class="row">
                       <div class="col">
                        <div class="card" style="width: 33.65rem;">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <img class="card-img-top" src="{% static 'pic.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                              </ul>
                          </div>
                       </div>
                   </div>
        
                </div>
              </div>
          </div>
      </div>
    </div>
</div>

{% endblock %}
